body {
  height: 100%;
  background: url('../images/shutterstock_115857310%20copy.jpg') #ffffff;
  background-size: 2000px 2000px;
  background-position: left top;
  font: 400 1.688em/1.38 Helvetica;
  color: rgb(0, 0, 0);
}

.container {
  position: relative;
  float: left;
  z-index: 0;
  width: 15%;
  height: 56px;
  margin-left: 8.5%;
}

.image {
  display: block;
  height: auto;
  overflow: hidden;
}

.text {
  float: left;
  color: rgb(0, 0, 0);
}

.text-2 p {
  margin-bottom: 1em;
}

._button {
  display: block;
  float: left;
  border-radius: 3px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.image-1 {
  position: relative;
  float: right;
  clear: both;
  z-index: 13;
  width: 343px;
  margin: -49px 62.91667% 0 0;
}

.image-2 {
  width: 996px;
  margin: 145px auto 0;
}

.image-3 {
  float: left;
  clear: both;
  width: 996px;
  margin: 111px 0 0 8.5%;
}

.text-1 {
  clear: both;
  width: 83%;
  min-height: 85px;
  margin: 16px 0 0 8.5%;
  font-size: 1.481em;
  font-weight: 700;
  text-align: center;
}

.text-2 {
  clear: both;
  width: 66%;
  min-height: 108px;
  margin: 15px 0 0 17%;
  font-size: 1em;
  text-align: center;
}

.text-3 {
  position: relative;
  clear: both;
  z-index: 4;
  width: 8.5%;
  min-height: 26px;
  margin: 11px 0 0 8.5%;
  font-size: 0.593em;
}

.text-4 {
  position: relative;
  z-index: 5;
  width: 8.5%;
  min-height: 26px;
  margin-top: 11px;
  font-size: 0.593em;
}

.text-5 {
  position: relative;
  z-index: 6;
  width: 8.5%;
  min-height: 26px;
  margin-top: 11px;
  font-size: 0.593em;
}

.text-6 {
  position: relative;
  z-index: 7;
  width: 8.5%;
  min-height: 26px;
  margin-top: 11px;
  font-size: 0.593em;
}

.text-7 {
  position: relative;
  z-index: 10;
  width: 10.5%;
  min-height: 26px;
  margin: 11px 0 0 34%;
  font-size: 0.593em;
}

._button-1 {
  width: 15%;
  height: 50px;
  margin: -382px 0 0 53%;
  border: 1px double rgb(0, 0, 0);
  background-color: rgb(33, 133, 197);
  font-size: 0.593em;
}

._button-2 {
  position: relative;
  clear: both;
  z-index: 12;
  width: 17%;
  height: 47px;
  margin: -83px 0 0 68%;
  background-color: #7ecefd;
  font-family: Verdana;
  font-size: 0.741em;
}

._button-3 {
  clear: both;
  width: 19%;
  height: 62px;
  margin: 39px 0 0 40.5%;
  background-color: #ff7f66;
  font-size: 0.741em;
}

.text a,
.text em,
.text span,
.text strong {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}